@model IEnumerable<ProyectoASPWEB.Models.Reporte1>


@{
    ViewBag.Title = "Reporte1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reporte1</h2>

<table class="table">
    <tr>
        <th>Cliente</th>
        <th>Documento Cliente</th>
        <th>Correo Cliente</th>
        <th>Fecha Compra</th>
        <th>Compra Total</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.nombreCliente)</td>
            <td>@Html.DisplayFor(modelItem => item.documentoCliente)</td>
            <td>@Html.DisplayFor(modelItem => item.emailCliente)</td>
            <td>@Html.DisplayFor(modelItem => item.fechaCompra)</td>
            <td>@Html.DisplayFor(modelItem => item.totalCompra)</td>
        </tr>
    }
</table>

@Html.ActionLink("Generar Reporte", "ImprimirReporte1", "Compra");

