@model ProyectoASPWEB.Models.cliente

@{
    ViewBag.Title = "Details";
    var nombreUsuario = Model.nombre;
}

<h2> Detalles del cliente: @Html.DisplayFor(model => model.nombre) </h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre Cliente
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            Documento Cliente
        </dt>

        <dd>
            @Html.DisplayFor(model => model.documento)
        </dd>

        <dt>
            Documento Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar el cliente:" + nombreUsuario, "Edit", new { id = Model.id }) |
    @Html.ActionLink("Regresar a la lista", "Index")
</p>
